RewriteEngine On # Activer le module Rewrite
RewriteRule ^livre/?$ class/Livre.php [NC,L]
RewriteRule ^[^/]+/(\d+)$ class/Livre.php?id=$1
RewriteRule ^genre/?$ class/Genre.php [NC,L]
RewriteRule ^[^/]+/(\d+)$ class/Genre.php?id=$1